@import "tailwindcss";
@theme {
  --color-primary:#FBF3DD ;
  --color-secondary:#333333;
  --color-accent:#9E1B32;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
 
::-webkit-scrollbar-track {
    background:transparent; /* Background of the scrollbar track */
}
 
::-webkit-scrollbar-thumb {
    background: #0e0c0c; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}